
  
  .jumbotron {
    
    margin-bottom: 0px;
    height: 900px;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background: url("kara.jpg") ;
    background-repeat: no-repeat;
       -webkit-background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        background-size: 100% 100%;
    

  }

